{
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-plusplus": "off",
    "max-len": "off",
    "max-classes-per-file": "off",
    "no-param-reassign": "off"
  }
}
